@font-face {
  font-family: 'Montserrat Regular', sans-serif;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat Light', sans-serif;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Raleway Semi-Bold', sans-serif;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}